# Dependency directories
/node_modules
/vendor

# Laravel build assets
# /public/build
/public/hot
/public/storage

# Environment and sensitive files
.env
.env.*
/auth.json

# Laravel storage
/storage/*.key
/storage/pail

# Testing and debug files
/.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log

# IDE and editor configurations
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Project-specific files
Homestead.json
Homestead.yaml
.phpactor.json